.div{
  height:500px;
  width:100%;
  background-color: lightcyan
}
.one{background-color:#1e90ff;
padding:10px
}

.two{background-color:#7fff00;
padding:10px}

.three{background-color:#b22222;
padding:10px}
